---
import IndexLayout from '@/layouts/IndexLayout.astro'
import About from '@/components/widgets/About.astro'
import SectionList from '@/components/widgets/SectionList.astro'
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

const posts = await getSortedFilteredPosts()
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <About />
  <main>
    <SectionList posts={posts} />
  </main>
</IndexLayout>
